body{
  margin: 0;
  padding: 0;
}

header{
  background-color: green;
}

.logo{

}

/* hero homepage */
.hero-home{
  background-image: url(img/green.jpg);
  height: 30vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}
/* hero contact */

figure{
  margin: 21px 0;
  position: relative;
  overflow: hidden;
}

figcaption{
  position: absolute;
  bottom: 5px;
  height: 35px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.65);
  color: aliceblue;
  width: 100%;
}

img{
    max-width: 100%;
}

.img-on-left{
  height: 200px;
  width: 90%;
  margin: auto;
  display: block;
}

.img-on-left img{
  float: left;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-right: 30px;
  margin-bottom: 10px;

}

.clear-fix{
  display: table;
  clear: both;
  content: "";
}

.wide-90{
  margin: auto;
  width: 90%;
  display: block;
}

main{
  display: block;
  margin: auto;
  width: 90%;
}

section{
    
}

/* START NAV STYLES */
.nav-grid{
  display: grid;
  /* min-height: 60px; */
  /* This could affect the amount of clickable space for users to toggle on the drop down menu. The larger the number then larger thumbs won't have a problem hiting this button */
  grid-auto-flow: column;
  align-items: center;
  padding: 5px;
}

/* Navigation bar styles */
.mainNav {
  background: #00411d;
  /* Change bar color */
  color:#ffffff;
  /* Text color - For hamburger and company name*/
  /* height: 55px; */
  /* How tall the nav bar is -
  NOTE This number needs to be in sync with the top number for .mainnav .menu below */
  position: relative;
}

/* Navigation links styles */
nav a{
  display: block;
  /* padding:20px; */
  text-decoration: none;
  color: #fff;
  /* NOTE LINK color for company name*/
  font-family:  sans-serif;
}

.mainNav a {
  text-decoration: none;
}

.mainNav .menu {
  background: #00411d;
  /* Change the bar color above */
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #efefef;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /*POSITION*/
  position: absolute;
  top: 55px;
  /* NOTE Main nav height and this number need to be the same for drop down menu */
  right: 0;
  left: 0;
}

.mainNav .menu a {
  color: #fff;
  /* NOTE Link color for drop down */
  border-bottom: 1px solid #efefef;
  font-weight: normal;
  /* Change to bold if you want */
  display: block;
  padding: 15px;
}

.mainNav .menu a:hover {
  /* background: #292938; */
  /* NOTE Background color when hovering over links */
  color: #efefef;
  /* Color of text when hovering over link */
}

.mainNav .navBars {
  display: inline-block;
  font-size: 1.2em;
  /* NOTE This will affect the thickness of the hamburger lines */
  line-height: 1.5em;
  float: right;
  text-align: right;
  /* HAMBURGER POSITION to the right*/
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

#xBxHack {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -99999px;
}

#xBxHack:checked ~ nav .menu {
  display: block;
}

.navcontainer {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
}

p, table{
  margin-top: 13px;
}

table, td{
  border:1px solid gray;
  border-collapse: collapse;
  padding: 5px;
}

td{
  width: 200px;
}

/* NOTE END MOBILE NAVIGATION STYLES */

/* start footer styles-------------- */
footer{
  background-color: greenyellow;
  padding-bottom: 30px;
  padding-top: 30px;
  color: blue;
}

.footer-wrap{
  width: 90%;
  margin: auto;
}

footer .fa{
  color: blue;
  text-decoration: none;
  font-size: 20px;
  padding-right: 20px;
}
/* end footer styles---------------- */

@media only screen and (min-width: 600px){
    section{
        
    }

    main{
      grid-template-columns: 1fr 1fr;
      display: grid;
      margin: auto;
      width: 90%;
      gap: 50px;
    }
    /* hero homepage */
    /* hero contact */
}/* End Large Screen Styles */

@media only screen and (min-width: 1000px){
  /* NOTE START Nav styles for medium and larger screens-----
  Do not change nav styles below without help. */
    .navcontainer{
      display: grid;
      min-height: 70px;
      grid-auto-flow: column;
      padding-top: 0;
      padding-bottom: 0;
      max-width:900px;
  /*  You can change the max-width. This counter acts the styles above media query so the links could be all the way to the left */
    }
    .mainNav {
      overflow: hidden;
    }
    .mainNav .navBars {
      display: none;
    }
    #logo{
        padding-top:10px;
    }
    #logo a{

    }
    .mainNav .menu {
      display: block;
      box-shadow: none;
      border: none;
      float: right;
      /* float:left; */
      /* NOTE LINKS POSITION to the left*/
      /* text-align: center; */
      /* NOTE LINKS POSITION center*/
      text-align: right;
      /* NOTE LINKS POSITION to the right*/
      position: static;
    }
    .mainNav .menu li {
      display: inline-block;
    }
    .mainNav .menu a {
      border: none;
      padding: 20px 10px;
    }
/* END nav styles ---------------------------- */
} /* Desktop Styles ---------------------------*/